body
{
  width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 0 20px 20px 20px;
  border: 3px solid black;
  font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}

h1
{
  font-size: 50px;
  text-align: center;
}

p
{
  text-align: center;
}

.btn
{
  background:transparent;
  border: 1px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin: 30px;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  outline:none;
  position:relative;
  top:0;
  text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.button
{
  background:transparent;
  border: 1px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  margin: 10px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  outline:none;
  position:relative;
  top:0;
  text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.grey
{
  background:#4c4c4c;
  color:#fff;
  box-shadow: 0 2px 0 #333333;
}

.grey:hover
{
  background:#747373;
}

.grey:active, .grey:focus
{
  background:#444444;
}
